body{
    background: tomato;
}
.sign-up-div{
    /* background: tomato; */
    margin-top: 0;
}
.title{
    font-size: 78px;
    font-weight: bolder;
    font-family: sans-serif;
}
.input-card{
    border-radius: 10px;
}